{% extends '@NightSurvey/layout/layout.html.twig' %}

{% block body %}
    <div class="page-header"><h1>{{ surveyDTO.title }}</h1></div>
    {% include '@NightSurvey/Default/result-block.html.twig' %}
    {% include '@NightSurvey/Default/answered-questions.html.twig' %}
{% endblock %}