{% block body %}
    <div class="well">
        <div class="c100 p{{ score.percent }}">
            <span>{{ score.percent }}%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>

        <p>{{ surveyDTO.resultText }}</p>
    </div>
{% endblock %}